@import 'tailwindcss';

@layer base {
  :root {
    --olive-1: #fcfdfc;
    --olive-2: #f8faf8;
    --olive-3: #eff1ef;
    --olive-4: #e7e9e7;
    --olive-5: #dfe2df;
    --olive-6: #d7dad7;
    --olive-7: #cccfcc;
    --olive-8: #b9bcb8;
    --olive-9: #898e87;
    --olive-10: #7f847d;
    --olive-11: #60655f;
    --olive-12: #1d211c;
    --olive-dark-1: #111210;
    --olive-dark-2: #181917;
    --olive-dark-3: #212220;
    --olive-dark-4: #282a27;
    --olive-dark-5: #2f312e;
    --olive-dark-6: #383a36;
    --olive-dark-7: #454843;
    --olive-dark-8: #5c625b;
    --olive-dark-9: #687066;
    --olive-dark-10: #767d74;
    --olive-dark-11: #afb5ad;
    --olive-dark-12: #eceeec;
    --grass-1: #fbfefb;
    --grass-2: #f5fbf5;
    --grass-3: #e9f6e9;
    --grass-4: #daf1db;
    --grass-5: #c9e8ca;
    --grass-6: #b2ddb5;
    --grass-7: #94ce9a;
    --grass-8: #65ba74;
    --grass-9: #46a758;
    --grass-10: #3e9b4f;
    --grass-11: #2a7e3b;
    --grass-12: #203c25;
    --grass-dark-1: #0e1511;
    --grass-dark-2: #141a15;
    --grass-dark-3: #1b2a1e;
    --grass-dark-4: #1d3a24;
    --grass-dark-5: #25482d;
    --grass-dark-6: #2d5736;
    --grass-dark-7: #366740;
    --grass-dark-8: #3e7949;
    --grass-dark-9: #46a758;
    --grass-dark-10: #53b365;
    --grass-dark-11: #71d083;
    --grass-dark-12: #c2f0c2;
  }

  :root {
    /* App Background */
    --app-bg: white;

    /* Solid Components */
    --comp-fg: var(--olive-12);
    --comp-bg: var(--olive-3);
    --comp-bg-hover: var(--olive-4);
    --comp-fg-accent: white;
    --comp-bg-accent: var(--grass-8);
    --comp-bg-accent-hover: var(--grass-9);

    /* Focus Ring */
    --ring-default: var(--olive-7);
    --ring-offset-default: var(--app-bg);

    /* Radius */
    --radius-default: 6px;
  }

  [data-theme=dark] {
    /* App Background */
    --app-bg: var(--olive-dark-1);

    /* Solid Components */
    --comp-fg: white;
    --comp-bg: var(--olive-dark-3);
    --comp-bg-hover: var(--olive-dark-4);
    --comp-fg-accent: white;
    --comp-bg-accent: var(--grass-dark-8);
    --comp-bg-accent-hover: var(--grass-dark-9);

    /* Focus Ring */
    --ring-default: var(--olive-dark-7);
    --ring-offset-default: var(--app-bg);
  }
}

@theme {
  /* Reset all colors */
	--color-*: initial;
  --color-white: white;

  /* App Background */
  --background-color-app: var(--app-bg);

  /* Solid Components */
  --color-component: var(--comp-fg);
  --color-component-accent: var(--comp-fg-accent);
  --background-color-component: var(--comp-bg);
  --background-color-component-hover: var(--comp-bg-hover);
  --background-color-component-accent: var(--comp-bg-accent);
  --background-color-component-accent-hover: var(--comp-bg-accent-hover);

  /* Focus Ring */
  --ring-color-default: var(--ring-default);
  --ring-offset-color-default: var(--background-color-app);

  /* Radius */
  --radius-default: var(--radius-default);
}
