@custom-variant dark {
    &:where(.dark *, .dark) {
        @slot;
    }

    &:where(.system *, .system) {
        @media (prefers-color-scheme: dark) {
            @slot;
        }
    }

    &:where([data-color-scheme="dark"] *, [data-color-scheme="dark"]) {
        @slot;
    }

    &:where([data-color-scheme="system"] *, [data-color-scheme="system"]) {
        @media (prefers-color-scheme: dark) {
            @slot;
        }
    }
}

@layer base {
    :root {
        color-scheme: light dark;
    }

    .light,
    [data-color-scheme="light"] {
        color-scheme: light;
    }

    .dark,
    [data-color-scheme="dark"] {
        color-scheme: dark;
    }

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        @apply border-default;
    }
}

@theme inline {
    --color-*: initial;

    --color-app-1: var(--app-1);
    --color-app-2: var(--app-2);
    --color-app-3: var(--app-3);
    --color-app-4: var(--app-4);
    --color-app-5: var(--app-5);
    --color-app-6: var(--app-6);
    --color-app-7: var(--app-7);
    --color-app-8: var(--app-8);
    --color-app-9: var(--app-9);
    --color-app-10: var(--app-10);
    --color-app-11: var(--app-11);
    --color-app-12: var(--app-12);
    --color-accent-1: var(--accent-1);
    --color-accent-2: var(--accent-2);
    --color-accent-3: var(--accent-3);
    --color-accent-4: var(--accent-4);
    --color-accent-5: var(--accent-5);
    --color-accent-6: var(--accent-6);
    --color-accent-7: var(--accent-7);
    --color-accent-8: var(--accent-8);
    --color-accent-9: var(--accent-9);
    --color-accent-10: var(--accent-10);
    --color-accent-11: var(--accent-11);
    --color-accent-12: var(--accent-12);

    --background-color-app-bg: light-dark(var(--app-bg), var(--app-bg-dark));
    --border-color-default: var(--app-6);
}
